<div class="row">
    <div class="col-md-4">
        <h3>Select file</h3>
        <div appNgDropFiles
        [files] = "files"
         (mouseOn)="itIsOnElement = $event"  [ngClass]="{'file-over': itIsOnElement}" class="well drop-zone file-over">
            <h4>Drag files here</h4>
            <img src="assets/drop-images.png" alt="">
        </div>
       
    </div>
    <div class="col-md-8">
        <h4>Upload Files</h4>
        <button (click)="uploadImage()" [disabled]="files.length === 0" class="btn btn-success">Upload to Firebase</button>
        <button (click)="cleanFiles()">Clean up</button>
        <table class="table">
            <thead class="thead=dark">
                <tr>
                    <th>Name file</th>
                    <th>Size</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of files">
                    <td>{{ file.fileName}}</td>
                    <td>{{file.file.size/1024/1024 | number:'.2-2'}} MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example" [ngStyle]="{width: file.progess + '%'}"></div>
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

